body {
    background-image: linear-gradient(to right, #010101, #0a0a0a, #111112, #161617, #1b1b1c, #1b1b1c, #1b1b1c, #1b1b1c, #161617, #111112, #0a0a0a, #010101);
    color: #ffffff; /* Texto blanco */
    font-family: "Times New Roman", Times, serif;
}

h1 {
    color: #E65300;
}

h2 {
    color: white;
}

h3, h4, h5, h6 {
    color: rgb(224, 32, 32);
}

a {
    color: white;
}

a:hover {
    color: #339be9;
}

code {
    background-color: #333333; /* Fondo de los bloques de código en gris oscuro */
    color: #ffffff; /* Texto de los bloques de código en blanco */
    padding: 2px 4px; /* Espaciado dentro del bloque de código */
    border-radius: 4px; /* Bordes redondeados */
}

pre {
    background-color: #333333; /* Fondo de los bloques de código preformateados en gris oscuro */
    color: #ffffff; /* Texto de los bloques de código preformateados en blanco */
    padding: 10px; /* Espaciado dentro del bloque de código preformateado */
    border-radius: 4px; /* Bordes redondeados */
}

table {
    border-collapse: collapse; /* Bordes colapsados para tablas */
}

table, th, td {
    border: 1px solid #444444; /* Bordes de las tablas en gris oscuro */
}

th, td {
    padding: 8px; /* Espaciado dentro de las celdas */
    text-align: left; /* Alineación del texto en las celdas */
}
