body {
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    font-family: Arial, sans-serif; /* Fuente del texto */
}

h1, h2, h3, h4, h5, h6 {
    color: #e16b05; /* Títulos en color amarillo */
}

a {
    color: #1e90ff; /* Enlaces en color azul */
}

a:hover {
    color: #bd5900; /* Enlaces en color verde cuando se pasa el ratón por encima */
}

code {
    background-color: #333333; /* Fondo de los bloques de código en gris oscuro */
    color: #ffffff; /* Texto de los bloques de código en blanco */
    padding: 2px 4px; /* Espaciado dentro del bloque de código */
    border-radius: 4px; /* Bordes redondeados */
}

pre {
    background-color: #333333; /* Fondo de los bloques de código preformateados en gris oscuro */
    color: #ffffff; /* Texto de los bloques de código preformateados en blanco */
    padding: 10px; /* Espaciado dentro del bloque de código preformateado */
    border-radius: 4px; /* Bordes redondeados */
}

table {
    border-collapse: collapse; /* Bordes colapsados para tablas */
}

table, th, td {
    border: 1px solid #444444; /* Bordes de las tablas en gris oscuro */
}

th, td {
    padding: 8px; /* Espaciado dentro de las celdas */
    text-align: left; /* Alineación del texto en las celdas */
}
